h1, .poste, .description{
	text-align: center;
	color : #FFF;
}

.description{
	font-weight : bold ;
	font-style : italic;
	font-size : 18px;
}

.tete{
	background-color: #9055A2;
}

.contact{
	display: flex;
	height: 20%;
	justify-content: space-between;
	padding-top: 8em;
	margin-left : 20%;
	margin-right : 20%;
}

.ligne{
	height: 1px;
	border: solid black 1px;
	margin-top : 5em;
	margin-left: 20%;
	margin-right : 20%;
}

.competences{
	display : flex;
	justify-content: space-around;
	padding-top: 10em;
}

.competencesTechniques li{
	font-size : 22px;
	list-style-type: none;
	line-height: 1.5em;
}

.competencesGenerales li{
	font-size : 22px;
	list-style-type: none;
	line-height: 1.5em;
}

.competences .cT, .cG{
	font-weight: bold;
	font-size: 30px;
}