h1, .poste, .description{
	text-align: center;
	color : #FFF;
}

h1{
	font-size : 40px;
	padding-top: 1em;
}

.colorBody{
	background-color: #a7a7a2;
}

.description{
	font-weight : bold ;
	font-style : italic;
	font-size : 25px;
}

.tete{
	background-color: black;
	height: 18em;
}

.intro{
	width : 45%;
	margin : auto;
	padding-top : 6em;
	font-style : italic;
	font-weight: bold;
	font-size: 20px;
}

.contact{
	
	height: 20%;
	display: flex;
	flex-direction: column;
	padding-top: 6.5em;
	margin-left : 20%;
	margin-right : 20%;
	font-size : 20px;
	
}

.contact a{
	color : black;
	line-height: 1.5em;
}


.espace{
	height : 2em;
}

.ligne{
	height: 1px;
	border: solid black 1px;
	margin-top : 5em;
	margin-left: 20%;
	margin-right : 20%;
}

/*.competences{
	display : flex;
	justify-content: space-around;
	padding-top: 10em;
}*/

.competencesTechniques li{
	font-size : 22px;
	list-style-type: none;
	line-height: 1.5em;
	margin-left : 20%;
}

.competencesGenerales li{
	font-size : 22px;
	list-style-type: none;
	line-height: 1.5em;
}

.competences .cT, .cG{
	font-weight: bold;
	font-size: 30px;
	text-align : center;
	
}


h3{
	text-align: center;
	font-size: 25px;
}

.projets li{
	list-style-type: none;
}

.projectTitle{
	font-weight: bold;
	text-align: center;
	font-size : 20px;
}

.projets p{
	text-align : center;
	font-size: 20px;
}

.formationSimplon h4{
	text-align : center;
	font-size : 22px;
}

.formationSimplon{
	text-align : center;
	
}

.loisirs ul  {
	list-style-type: none;
}

.loisirs h3{
	text-align : center;
}
.loisirs {
	display : flex;
	justify-content : space-around;
	font-size: 20px;
}

.skills{
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	margin-top : 5%;
}

.skills ul{
	list-style-type: none;
	font-size : 22px;
}

.skills span{
	font-weight: bold;
}

.date{
	font-weight: bold;
	font-size: 22px;
}
